h1{
    color: blue;
    background-color: black;
}

#Links{
    color: crimson;
    background-color: grey;
}
.C200{
    color:deepskyblue;
}
.C300{
    color:dodgerblue;
}

a{
    color: red;
    text-decoration: none;
}
a:hover{
    color: yellow;
}
a:visited{
    color: green;
}